<%- include('./partials/logout.ejs') %>
<div class="row row-equal-height">

    <div class="col-xl-8" id="left">
        <%- include('./partials/newgameform.ejs') %>
    </div>
    <div class="col-xl-4" id="right">
        <%- include('./partials/newgameform.ejs') %>
    </div>
</div>

